[submodule "lisp/use-package"]
	path = lisp/use-package
	url = https://github.com/jwiegley/use-package.git
[submodule "lisp/initsplit"]
	path = lisp/initsplit
	url = https://github.com/dabrahams/initsplit.git
[submodule "override/gnus"]
	path = override/gnus
	url = http://git.gnus.org/gnus.git
[submodule "override/org-mode"]
	path = override/org-mode
	url = http://orgmode.org/org-mode.git
[submodule "site-lisp/magit"]
	path = site-lisp/magit
	url = https://github.com/magit/magit.git
[submodule "site-lisp/yasnippet"]
	path = site-lisp/yasnippet
	url = https://github.com/capitaomorte/yasnippet.git
[submodule "site-lisp/ac/popup-el"]
	path = site-lisp/ac/popup-el
	url = https://github.com/auto-complete/popup-el.git
[submodule "site-lisp/ac/auto-complete"]
	path = site-lisp/ac/auto-complete
	url = https://github.com/auto-complete/auto-complete.git
[submodule "site-lisp/ac/emacs-clang-complete-async"]
	path = site-lisp/ac/emacs-clang-complete-async
	url = https://github.com/Golevka/emacs-clang-complete-async.git
