[submodule "lisp/use-package"]
	path = lisp/use-package
	url = https://github.com/jwiegley/use-package.git
[submodule "lisp/initsplit"]
	path = lisp/initsplit
	url = https://github.com/dabrahams/initsplit.git
[submodule "site-lisp/yasnippet"]
	path = site-lisp/yasnippet
	url = https://github.com/capitaomorte/yasnippet.git
[submodule "themes/zenburn"]
	path = themes/zenburn
	url = git@github.com:bbatsov/zenburn-emacs.git
