[submodule "lisp/use-package"]
	path = lisp/use-package
	url = https://github.com/jwiegley/use-package.git
[submodule "lisp/initsplit"]
	path = lisp/initsplit
	url = https://github.com/dabrahams/initsplit.git
[submodule "override/gnus"]
	path = override/gnus
	url = http://git.gnus.org/gnus.git
[submodule "override/org-mode"]
	path = override/org-mode
	url = http://orgmode.org/org-mode.git
[submodule "site-lisp/org2blog"]
	path = site-lisp/org2blog
	url = https://github.com/punchagan/org2blog.git
[submodule "site-lisp/egg"]
	path = site-lisp/egg
	url = https://github.com/bogolisk/egg.git
